/* You can add custom styles here. */

// @import "plugins/numbered";

article.markdown > p  {
  text-align: justify;
}

ul#book-search-results {
  color: #16a085;
}

ul#book-search-results li a::before {
  content: '🔍 ';
}


// mermaid customization
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.mermaid .node polygon {
  fill: #FFFFFF !important;
  stroke: #E22527FF !important;
  stroke-width: 2px !important;
}

.mermaid .node .label, .mermaid .edgeLabel {
  font-family: 'Electrolize', sans-serif !important;
  background-color: #FFFFFF !important;
  font-size: 0.9em;
}

.mermaid > svg > g > rect {
  fill: #FFFFFF !important;
  stroke: #E22527FF !important;
  stroke-width: 2px !important;
}

.mermaid > svg > g > rect ~ text {
  font-family: 'Electrolize', sans-serif !important;
}

.mermaid > svg > rect ~ text {
  font-family: 'Electrolize', sans-serif !important;
  background-color: #FFFFFF !important;
}
