/* You can add custom styles here. */

// @import "plugins/numbered";

article.markdown > p  {
  text-align: justify;
}

ul#book-search-results {
  color: #16a085;
}

ul#book-search-results li a::before {
  content: '🔍 ';
}
