body {
}

/*
 * NOTE: The template styles <code> tags by adding classes
 * to the `class` attribute.
 * I did not find a way to configure this, hence the
 * CSS styling which follows.
 */
p code, li code {
  background-color: rgb(243,244,246) !important;
  color: black !important;
}
pre {
  background-color: rgb(243,244,246) !important;
}
